{% extends 'yuapp/index.html' %}

{% block title %}删除订单{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div style="height: 100px;"></div>
                <div class="card shadow text-center">
                    <div class="card-header">
                        <div class="text-title">
                            <h1>你确定要删除这个订单吗？</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">课程名称</th>
                              <th scope="col">开课学期</th>
                              <th scope="col">课程编号</th>
                              <th scope="col">成绩</th>
                              <th scope="col">学分</th>
                              <th scope="col">总学时</th>
                              <th scope="col">绩点</th>
                              <th scope="col">课程属性</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>{{classer.coursename}}</td>
                                <td>{{ classer.starttime }}</td>
                                <td>{{ classer.cursenumber }}</td>
                                <td>{{classer.grade}}</td>
                                <td>{{classer.xuefen}}</td>
                                <td>{{ classer.zongxueshi }}</td>
                                <td>{{ classer.jidian }}</td>
                                <td>{{ classer.kecehngshuxing }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <br>
                        <form action="{% url 'deleteclasser' classer.id %}" method="post">
                            {% csrf_token %}
                            <a href="{% url 'homepage' %}" class="btn btn-warning">取消</a>
                            <button type="submit" class="btn btn-danger">删除</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}