{% extends 'yuapp/index.html' %}

{% block title %}登录{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div style="height: 50px"></div>
                <div class="card shadow">
                    <div class="card-header text-center bg-dark">
                        <h4 class="text-light card-title">登录</h4>
                    </div>
                    <div class="card-body">
                        {% if message %}
                            <div class="alert alert-warning" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                        <form action="{% url 'yunxing' %}" method="post">
                            {% csrf_token %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">登录</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}